<div id="container">
  <div id="header">
    <div class="logo">
      <div id="logo-image"></div>
    </div>
  </div>
  <h1>
    <strong><b>WELCOME TO OLCADEMY COMMUNITY</b></strong>
  </h1>
  <div class="forgotPasswordHead">
    <div class="forgetPasswordHeading">
      <div>
        <div class="forgetPassword">Forgot Password?</div>
      </div>
    </div>
  </div>

  <div class="forgetPasswordBody">
    <mat-form-field
      appearance="outline"
      name="forgot_password_form"
      [formControl]="emailFormControl"
      class="example-full-width"
    >
      <input
        type="email"
        #email
        matInput
        [formControl]="emailFormControl"
        placeholder="Email Address"
      />
      <div class="info" mat-icon-button matSuffix>
        <mat-icon class="check_circle green-icon" *ngIf="submitted"
          >check_circle</mat-icon
        >
      </div>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email required.
      </mat-error>
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Please enter valid Email Address
      </mat-error>
      <mat-hint *ngIf="email_invalid" style="color: red; font-size: 11px">
        Email is not registered with Olcademy. Please re-check.
      </mat-hint>
      <mat-hint *ngIf="cant_find_email" style="color: red; font-size: 11px">
        Couldn't send email. Please try again.
      </mat-hint>
    </mat-form-field>

    <button
      mat-raised-button
      style="margin-top: 8px"
      class="
        mat-focus-indicator mat-raised-button mat-button-base mat-primary
        button
      "
      (click)="
        forgetPasswordSubmit(
          !emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required'),
          email.value
        )
      "
    >
      Send Email
    </button>
    <div *ngIf="submitted">
      <br />
      <p class="options">
        A link has been sent on your email address to reset your password.
      </p>
      <br />
      <p class="options">
        If you didn't receive email,
        <u><a style="color: #00abf3">click here</a></u> to resend the link.
      </p>
    </div>
  </div>
</div>
